@import "tailwindcss";

:root {
  --background: #f9f1f0;
  --foreground: #171717;
  --primary: #fadcd9;
  --secondary: #f8afa6;
  --text: #000000;
  --rounded: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans), system-ui, sans-serif;
}
